<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="questionService" class="com.gtm.csims.business.question.QuestionService">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="bsQuestionaireDao" ref="bsQuestionaireDao" />
		<property name="bsQuestionDao" ref="bsQuestionDao" />
		<property name="bsSurveyobjectDao" ref="bsSurveyobjectDao" />
		<property name="bsAnswerresultDao" ref="bsAnswerresultDao" />
		<property name="bsOrgDao" ref="bsOrgDao" />
	</bean>

	<bean id="questionStsicSvce" class="com.gtm.csims.business.question.QuestionStsicSvce"
		parent="baseStatisticsService">
	</bean>

	<bean id="questionByAreaStsicSvce" class="com.gtm.csims.business.question.QuestionByAreaStsicSvce"
		parent="baseStatisticsService">
	</bean>

	<bean id="questionByOrgStsicSvce" class="com.gtm.csims.business.question.QuestionByOrgStsicSvce"
		parent="baseStatisticsService">
	</bean>

	<bean id="questionBySingleOrgStsicSvce"
		class="com.gtm.csims.business.question.QuestionBySingleOrgStsicSvce"
		parent="baseStatisticsService">
	</bean>

	<bean id="questionDetailStsicSvce" class="com.gtm.csims.business.question.QuestionDetailStsicSvce"
		parent="baseStatisticsService">
	</bean>
	
	<bean id="questionByTopOrgStsicSvce" class="com.gtm.csims.business.question.QuestionByTopOrgStsicSvce"
		parent="baseStatisticsService">
	</bean>

</beans>