<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="reportTitleService"
		class="com.gtm.csims.business.dataapp.statistics.ReportTitleServiceImpl">
	</bean>

	<bean id="baseStatisticsService"
		class="com.gtm.csims.business.dataapp.statistics.BaseStatisticsService"
		abstract="true">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="reportTitleService" ref="reportTitleService" />
	</bean>

	<bean id="aeinspectionAnlStsicSvce"
		class="com.gtm.csims.business.dataapp.statistics.impl.AeinspectionAnlStsicSvce"
		parent="baseStatisticsService">
	</bean>

	<bean id="aeFeedbackStsicSvce"
		class="com.gtm.csims.business.dataapp.statistics.impl.AeFeedbackStsicSvce"
		parent="baseStatisticsService">
	</bean>

	<bean id="examScoreStsicSvce"
		class="com.gtm.csims.business.dataapp.statistics.impl.ExamScoreStsicSvce"
		parent="baseStatisticsService">
	</bean>

	<bean id="wtgkStsicSvce"
		class="com.gtm.csims.business.dataapp.statistics.impl.WtgkStsicSvce"
		parent="baseStatisticsService">
	</bean>

	<bean id="admenforceStsicSvce"
		class="com.gtm.csims.business.dataapp.statistics.impl.AdmenforceStsicSvce"
		parent="baseStatisticsService">
		<property name="enforceService" ref="enforceService"></property>
	</bean>
	<bean id="aeinspectionStsicSvce"
		class="com.gtm.csims.business.dataapp.statistics.impl.AeinspectionStsicSvce"
		parent="baseStatisticsService">
		<property name="enforceService" ref="enforceService"></property>
	</bean>
	<bean id="aeconclusionStsicSvce"
		class="com.gtm.csims.business.dataapp.statistics.impl.AeconclusionStsicSvce"
		parent="baseStatisticsService">
		<property name="enforceService" ref="enforceService"></property>
	</bean>
	<bean id="aerectificationStsicSvce"
		class="com.gtm.csims.business.dataapp.statistics.impl.AerectificationStsicSvce"
		parent="baseStatisticsService">
		<property name="enforceService" ref="enforceService"></property>
	</bean>
	<bean id="admpunishStsicSvce"
		class="com.gtm.csims.business.dataapp.statistics.impl.AdmpunishStsicSvce"
		parent="baseStatisticsService">
		<property name="enforceService" ref="enforceService"></property>
	</bean>
	<bean id="admpunishconsStsicSvce"
		class="com.gtm.csims.business.dataapp.statistics.impl.AdmpunishconsStsicSvce"
		parent="baseStatisticsService">
		<property name="enforceService" ref="enforceService"></property>
	</bean>

	<bean name="/StatisticsAction" class="com.gtm.csims.controll.statistics.StatisticsAction">
		<property name="wtgkStsicSvce" ref="wtgkStsicSvce"></property>
		<property name="aeFeedbackStsicSvce" ref="aeFeedbackStsicSvce" />
		<property name="systemBaseInfoManager" ref="systemBaseInfoManager"></property>
	</bean>

</beans>