<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="SelectSystemDataBase"
		class="com.gtm.csims.business.managment.system.SelectSystemDataBaseByDwr">
		<property name="bsOrgDao" ref="bsOrgDao"></property>
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
		<!-- <property name="userService" ref="userService"></property> -->
		<property name="bsDeptDao" ref="bsDeptDao"></property>
		<property name="questionService" ref="questionService" />
	</bean>
	<bean id="systemBaseInfoManager"
		class="com.gtm.csims.business.managment.system.SystemBaseInfoManagerImpl">
		<property name="bsOrgDao" ref="bsOrgDao"></property>
		<property name="bsOrgComInfoDao" ref="bsOrgComInfoDao"></property>
		<property name="bsDeptDao" ref="bsDeptDao"></property>
		<property name="bsAreaDao" ref="bsAreaDao"></property>
	</bean>
</beans>