body 
{
	SCROLLBAR-FACE-COLOR:#C8ECFF;
	SCROLLBAR-HIGHLIGHT-COLOR: #64ACD3;
	SCROLLBAR-SHADOW-COLOR: #C8ECFF;
	SCROLLBAR-3DLIGHT-COLOR: #C8ECFF;
	SCROLLBAR-ARROW-COLOR: #64ACD3;
	SCROLLBAR-TRACK-COLOR: #64ACD3;
	SCROLLBAR-DARKSHADOW-COLOR: #64ACD3;
}